.authform {
    background-color: #fafafa;
    box-shadow:  -5px -5px 12px #c1c1c1,
             5px 5px 12px #ffffff;
    color: #216AD9;
    position: fixed;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 610px;
    border-radius: 50px 50px 0px 0px;
    padding: 3rem;
}

.authform .form-input {
    border: 2px solid #216AD9;
    background-color: #fafafa;
    margin-top: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.authform .form-input input {
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    color: #216AD9;
}

.authform .form-input i {
    margin: 0% 2%;
}

.authform button {
    background-color: #216AD9;
    color: #fafafa;
    
    width: 100%;
    border-radius: 10px;
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}

.authform .link-text {
    border: 2px solid #216AD9;
    background-color: #fafafa;
    
}

.authform a {
    text-decoration: none;
    color: #216AD9;
}
.fa-eye, .fa-eye-slash{
    cursor: pointer;
}
@media (min-width: 768px) {
    .authform {
        width: 500px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}