.getstartsection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 3rem;
    color: #216AD9;
}

.getstartsection figure img {
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.getstartsection h1{
    margin: 3rem 0rem;
}
.getstartsection h6{
    margin-top: .5rem;
}

.getstartsection .getstart {
    width: 50%;
    background-color: #216AD9;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fafafa;
    margin-top: 5rem;
}

@media (max-width: 768px) {
    .getstartsection figure img {
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }
    .getstartsection .getstart {
        width: 100%;
    }
}