header {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
    width: 400px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
header nav {
    background-color: #fafafa;
    width: 80%;
    height: 100%;
    border-radius: 100px;
    box-shadow:  -5px -5px 10px #b9b9b9,
             5px 5px 10px #ffffff;

}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    height: 100%;
    cursor: pointer;
}
header nav ul li {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li .nav-link{
    color: #216AD9;
    font-size: larger;
}
header nav ul li:hover
{
    border: 2px inset #216AD9;   
}
.coins{
background-color: #216AD9;
border: 2px solid #fafafa ;
border-radius: 100px;
width: 70%;
height: 70%;
}
.fa-coins {
    color: #fafafa;
}
@media (max-width: 768px) {
    header{
        width: 100%;
        bottom: 0%;
        height: 80px;
    }
    header nav {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }
    
}